<div class="sidebar-menu">
      <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
      <div class="menu">
        <ul id="menu">
          <li ui-sref="home">
            <a href="">
              <i class="fa fa-car"></i> <span>Garage</span>
              <div class="clearfix"></div>
            </a>
          </li>
          <li ui-sref="partsRequested">
            <a href="">
              <i class="fa fa-recycle nav_icon"></i><span>Parts Requested</span>
              <div class="clearfix"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-envelope" aria-hidden="true"></i><span>Message</span>
              <div class="clearfix"></div>
            </a>
          </li>
          <li ui-sref="AddaCar">
            <a href="">
              <i class="fa fa-check-square-o nav_icon"></i><span>Add a car</span>
              <div class="clearfix"></div>
            </a>
          </li>
          <li id="#">
            <a href="">
              <i class="fa fa-recycle"></i><span>Request A parts</span>
              <div class="clearfix"></div>
            </a>
          </li>
          <li id="menu-academico">
            <a href="#">
              <i class="fa fa-heart" aria-hidden="true"></i><span>Your Wish List</span>
              <div class="clearfix"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-table"></i> <span>Account</span>
              <div class="clearfix"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>